@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

p {
  color: black;
}

a {
  color: black;
}

.splitForm {
  display: flex;
  flex-direction: row;
}

.IMDMediaSignIn {
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #6B68F5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFilling {
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillingImage {
  width: 60%;
  align-self: center;
  opacity: 60%;
}

label {
  color: white;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: lighter;
  font-size: 0.9em;
}

input {
  color: white;
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  font-size: 0.9em;
}

::placeholder {
  color: white;
  font-weight: lighter;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
}

.form__field {
  margin-top: 0.8em;
}

.formError p {
  background-color: #FF2424;
  padding: 0.7em;
  border-radius: 3px;
  font-size: 0.9em;
}

.nav img {
  max-width: 7em;
}

@media only screen and (max-width: 750px) {
  .nav img {
    max-width: 5em;
  }
}
@media only screen and (max-width: 500px) {
  .nav img {
    max-width: 3em;
  }
}
.status-not-available, .status-available {
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

.primarybtn {
  color: #6B68F5;
  background-color: white;
  font-family: "Plus Jakarta Sans", serif;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.4em 0.6em;
  height: 2em;
}

#changeTag {
  margin-left: 1%;
}

.formbtn {
  font-size: 1em;
  width: 100%;
  margin: 1.5em 0em 0.1em 0em;
  padding: 0.7em 0em 2em 0em;
  display: flex;
  justify-content: center;
}

.delete {
  display: none;
}

.confirmation {
  width: 250px;
  padding: 0.8em;
  border-radius: 3px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show {
  display: block;
}

.confirmationBtn {
  width: 100px;
  margin: 0.2em;
  border-radius: 3px;
  border: none;
}

.deleteBtns {
  display: flex;
  flex-direction: row;
}

.confirmation p {
  align-self: center;
  font-weight: bold;
  font-size: 0.9em;
}

.yesBtn {
  background-color: green;
}

.noBtn {
  background-color: #FF2424;
}

h1 {
  color: black;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1.8em;
}

h2 {
  color: black;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1.1em;
}

h3 {
  color: black;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1em;
}

p {
  font-family: "Plus Jakarta Sans", serif;
  color: black;
  font-weight: lighter;
  font-size: 1em;
}

.form h1 {
  color: white;
}

.form p {
  color: white;
}

.extraP {
  font-size: 0.8em;
}

.extraP a {
  color: white;
}

.extraP form {
  align-self: center;
}

.extraP--password {
  margin-top: -0.05em;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: #6B68F5;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.logo img {
  size: 20em;
  width: 200px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.searchIcon {
  width: 3em;
  padding-top: 1em;
  background-color: transparent;
}

.searchBar form {
  margin: none;
  padding: none;
}

.searchBar input {
  margin-top: 0;
  padding-top: none;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.account {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
}

.dropdownContent a {
  color: #6B68F5;
  padding: 0.2em 0em;
  font-size: 1em;
  text-decoration: none;
}

.dropdownContent a:hover {
  font-weight: bold;
}

.account:hover .dropdownContent {
  display: block;
  position: absolute;
  right: 0;
  padding: 15px;
  border: 10px;
  border-color: #6B68F5;
  border-radius: 3px;
  background-color: white;
  min-width: 10em;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.circleDrop {
  margin: 0 10px;
  border-radius: 50px;
}

.circleDrop img {
  height: 2.5em;
  border-radius: 50%;
}

.logodiv img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logodiv {
  margin-left: 1%;
}

.feed {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  column-count: 4;
  column-fill: initial;
}

@media only screen and (max-width: 750px) {
  .feed {
    column-count: 2;
  }
}
@media only screen and (max-width: 500px) {
  .feed {
    column-count: 1;
  }

  .detailsblock {
    display: flex;
    flex-direction: column-reverse;
  }

  .postL {
    width: 100% !important;
  }

  .postDetails {
    width: 100% !important;
  }

  .details__details {
    width: 100% !important;
  }
}
.post {
  max-width: 100%;
  background-color: #F6F6F6;
  margin: 20px 0px;
  border-radius: 4px;
  -webkit-column-break-inside: avoid;
}

.post img {
  border-radius: 4px;
  width: 100%;
}

.post h3 {
  font-family: "Plus Jakarta Sans", serif;
  color: black;
  font-weight: bolder;
  font-size: 1em;
  padding-left: 0.8em;
}

.post a {
  font-family: "Plus Jakarta Sans", serif;
  text-decoration: none;
}

.postUsername {
  padding-left: 0.8em;
  color: black;
  opacity: 70%;
  font-weight: bolder;
  font-size: 1em;
}

.text__tags {
  background-color: #E6E6ED;
  border-radius: 2px;
  color: rgba(128, 128, 128, 0.666);
  padding-left: 0px;
  padding: 0.1em 0.4em 0.1em 0.4em;
  margin: 0.1em;
}

.pageCounter {
  color: black;
  text-align: center;
  bottom: 1em;
  padding: 10px;
  right: 50%;
}

.fileInput {
  text-align: center;
}

.postL {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.postL .feed.profileFeed {
  display: flex;
  width: 100%;
  transform: translateX(0%);
  left: 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postL .feed.profileFeed .post img {
  width: 200px;
}

.postL .feed.profileFeed .post {
  margin-left: 5%;
}

.postDetails {
  display: flex;
  width: 50%;
}

.detailsblock {
  margin-top: 2%;
  display: flex;
}

.changePostInfo {
  display: flex;
}

.postData {
  margin-top: 3%;
  display: flex;
  width: 100%;
  padding-bottom: 2%;
}

.CommentInfo {
  margin-left: 30px;
}

.post__comments {
  margin-top: 10%;
}

.post__comments .upload__text__btn {
  margin-top: 2%;
  text-decoration: none;
}

#commentText {
  color: black;
}

#commentText::placeholder {
  color: grey;
}

.post__comments__form {
  display: flex;
  flex-direction: column;
}

.post__comments li {
  margin-top: 3%;
  list-style-type: none;
}

.details {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.details__imgSRC {
  margin-left: none;
  padding-left: none;
  max-width: 80%;
  border-radius: 6px;
}

.details__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details__details {
  width: 50%;
  margin-left: 3%;
}

.details__text {
  font-family: "Plus Jakarta Sans", serif, sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: black;
  text-decoration: none;
}

.details__text__title {
  padding-top: 15px;
  font-size: 2em;
  font-weight: 800;
}

.details__text--account {
  font-size: 0.9em;
  font-weight: 700;
  padding-top: 20px;
}

.details__text__subtitle {
  font-weight: 900;
  font-size: 0.9em;
}

.details__text__subtitle--description {
  padding: 40px 0 20px;
}

.details__text--description {
  font-weight: 60550;
  font-size: 0.75em;
}

.details__text--tags {
  color: rgba(101, 100, 100, 0.666);
  margin: 0 0 0 30px;
}

.details__drop {
  position: relative;
  display: inline-block;
}

.details__drop:hover .dropdownContent {
  display: block;
  position: absolute;
  right: 0;
  padding: 15px;
  border: 10px;
  border-color: #6B68F5;
  border-radius: 3px;
  background-color: grey;
  min-width: 10em;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.details__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details__dropbtn {
  width: 5px;
}

.details__dropdownContent {
  background-color: black;
}

.errorPostNotFound {
  align-self: center;
  background-color: #FF2424;
  padding: 0.7em;
  border-radius: 3px;
  font-size: 0.9em;
  width: 90%;
}

.centerError {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.likes {
  padding-left: 0.8em;
  padding-bottom: 1%;
}

.globalInfo, .extraInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bioInfo {
  margin-top: 100px;
}

.profile {
  padding: -0.05em;
}

.bio {
  padding-top: 1em;
  max-width: 465px;
}

.userPic {
  margin: 100px 70px 30px 0;
  background-color: yellow;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.extraInfo section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 70px;
  width: 665px;
}

.education li {
  margin-left: 1.5em;
}

.extraInfo h2 {
  margin-bottom: 0.8em;
}

.extraInfo img {
  max-width: 1.5em;
  margin: 0.3em;
}

.upload, .postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.upload__text__btn {
  background-color: #6B68F5;
  color: white !important;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 2em 0em;
  padding: 1em;
}

.upload__text__subtitle {
  color: black;
  font-size: 0.8em;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", serif, sans-serif;
}

.upload__form__fields {
  width: 100%;
}

.postForm {
  width: 80%;
}

.form__field--upload--image {
  height: 200px;
  width: 100%;
  background-color: grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload__image {
  background-color: none;
  border-color: #6B68F5;
  color: #6B68F5;
  border-radius: 7px;
}

.upload__image input {
  background-color: none;
  border-color: #6B68F5;
  color: #6B68F5;
}

.upload__text__input {
  color: black;
  border-color: grey;
  padding: 1em;
}

.upload__text__input::placeholder {
  border-color: grey;
  color: grey;
  padding: 1em;
  margin: 1em 0em;
}

.postForm input {
  border-color: grey;
  color: grey;
  padding: 1em;
  margin: 1em 0em;
}

.formError__upload {
  margin-top: 0.5em;
  width: 80%;
}

.update {
  margin: none;
  padding: none;
}

#bio {
  width: 100%;
}

.postForm div {
  margin: none;
  padding: none;
  width: 100%;
}

.postForm form {
  margin: none;
  width: 100%;
}

.updateSettings {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.updateSettings input {
  margin: 5px 0;
}

.updateSettings form {
  border: 1px;
  border-color: #6B68F5;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerRemoveAccount {
  height: 100vh;
}

.passwordError {
  margin-top: 1em;
  background-color: #FF2424;
  padding: 0.7em;
  border-radius: 3px;
  font-size: 0.9em;
}

.deleteBtn {
  background-color: #FF2424;
  border-radius: 4px;
  text-decoration: none;
  padding: 1em 1em;
  margin: 1em;
  margin-top: 1em;
  width: 80%;
  text-align: center;
  font-family: "Plus Jakarta Sans", serif, sans-serif;
  font-weight: 700;
  font-size: 0.8em;
}

/*# sourceMappingURL=app.css.map */
