@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.splitForm {
  display: flex;
  flex-direction: row;
}

.IMDMediaSignIn {
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #0500FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFilling {
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillingImage {
  width: 60%;
  align-self: center;
  opacity: 60%;
}

label {
  color: white;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: lighter;
  font-size: 0.9em;
}

input {
  color: white;
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  font-size: 0.9em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
}

.form__field {
  margin-top: 0.8em;
}

.formError p {
  background-color: #FF2424;
  padding: 0.7em;
  border-radius: 3px;
  font-size: 0.9em;
}

button {
  background-color: transparent;
  border: none;
}

.primarybtn {
  color: #0500FF;
  background-color: white;
  font-family: "Plus Jakarta Sans", serif;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.4em 0.6em;
  height: 2em;
}

.formbtn {
  font-size: 1em;
  width: 100%;
  margin: 1.5em 0em 0.1em 0em;
  padding: 0.7em 0em 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1.8em;
}

p {
  font-family: "Plus Jakarta Sans", serif;
  color: white;
  font-weight: lighter;
  font-size: 1em;
}

.extraP {
  font-size: 0.8em;
}

.extraP a {
  color: white;
}

.extraP form {
  align-self: center;
}

.extraP--password {
  margin-top: -0.05em;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: #0500FF;
  width: 100%;
  justify-content: space-between;
  padding: 7px;
}

.logo {
  width: 3em;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 3em;
  padding-top: 1em;
  background-color: transparent;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.account {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
}

.dropdownContent a {
  color: #0500FF;
  padding: 0.2em 0em;
  font-size: 1em;
  text-decoration: none;
}

.dropdownContent a:hover {
  font-weight: bold;
}

.account:hover .dropdownContent {
  display: block;
  position: absolute;
  right: 0;
  padding: 15px;
  border: 10px;
  border-color: #0500FF;
  border-radius: 3px;
  background-color: white;
  min-width: 10em;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=app.css.map */
