@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

p {
  color: black;
}

a {
  color: black;
}

.splitForm {
  display: flex;
  flex-direction: row;
}

.IMDMediaSignIn {
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #0500FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFilling {
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillingImage {
  width: 60%;
  align-self: center;
  opacity: 60%;
}

label {
  color: white;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: lighter;
  font-size: 0.9em;
}

input {
  color: white;
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  width: 100%;
  padding: 0.7em;
  font-size: 0.9em;
}

::placeholder {
  color: white;
  font-weight: lighter;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
}

.form__field {
  margin-top: 0.8em;
}

.formError p {
  background-color: #FF2424;
  padding: 0.7em;
  border-radius: 3px;
  font-size: 0.9em;
}

.nav img {
  max-width: 3em;
}

.status-not-available, .status-available {
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

.primarybtn {
  color: #0500FF;
  background-color: white;
  font-family: "Plus Jakarta Sans", serif;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.4em 0.6em;
  height: 2em;
}

.formbtn {
  font-size: 1em;
  width: 100%;
  margin: 1.5em 0em 0.1em 0em;
  padding: 0.7em 0em 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete {
  display: none;
}

.confirmation {
  width: 250px;
  padding: 0.8em;
  border-radius: 3px;
  background-color: #E6E6ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show {
  display: block;
}

.confirmationBtn {
  width: 100px;
  margin: 0.2em;
  border-radius: 3px;
  border: none;
}

.deleteBtns {
  display: flex;
  flex-direction: row;
}

.confirmation p {
  align-self: center;
  font-weight: bold;
  font-size: 0.9em;
}

.yesBtn {
  background-color: green;
}

.noBtn {
  background-color: #FF2424;
}

h1 {
  color: black;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1.8em;
}

h2 {
  color: black;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1.1em;
}

h3 {
  color: black;
  font-family: "Plus Jakarta Sans", serif;
  font-weight: bold;
  font-size: 1em;
}

p {
  font-family: "Plus Jakarta Sans", serif;
  color: black;
  font-weight: lighter;
  font-size: 1em;
}

.form h1 {
  color: white;
}

.form p {
  color: white;
}

.extraP {
  font-size: 0.8em;
}

.extraP a {
  color: white;
}

.extraP form {
  align-self: center;
}

.extraP--password {
  margin-top: -0.05em;
}

.nav {
  display: flex;
  flex-direction: row;
  background-color: #0500FF;
  width: 100%;
  justify-content: space-between;
  padding: 7px;
}

.logo img {
  size: 20em;
  height: 10px;
  width: 200px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  width: 3em;
  padding-top: 1em;
  background-color: transparent;
}

.navRight {
  display: flex;
  flex-direction: row;
}

.account {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
}

.dropdownContent a {
  color: #0500FF;
  padding: 0.2em 0em;
  font-size: 1em;
  text-decoration: none;
}

.dropdownContent a:hover {
  font-weight: bold;
}

.account:hover .dropdownContent {
  display: block;
  position: absolute;
  right: 0;
  padding: 15px;
  border: 10px;
  border-color: #0500FF;
  border-radius: 3px;
  background-color: white;
  min-width: 10em;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.feed {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  column-count: 4;
  column-fill: initial;
}

.post {
  max-width: 100%;
  background-color: #F6F6F6;
  margin: 20px 0px;
  border-radius: 4px;
  -webkit-column-break-inside: avoid;
}

.post img {
  border-radius: 4px;
  width: 100%;
}

.post h3 {
  font-family: "Plus Jakarta Sans", serif;
  color: black;
  font-weight: bolder;
  font-size: 1em;
  padding-left: 0.8em;
}

.post a {
  font-family: "Plus Jakarta Sans", serif;
  text-decoration: none;
}

.postUsername {
  padding-left: 0.8em;
  color: black;
  opacity: 70%;
  font-weight: bolder;
  font-size: 1em;
}

.postTags {
  background-color: #f5c3ee;
  border-radius: 2px;
  color: white;
  padding-left: 0px;
  padding: 0.1em 0.4em;
  margin: 0.1em;
}

.pageCounter {
  color: black;
  text-align: center;
  bottom: 1em;
  padding: 10px;
  right: 50%;
}

.postForm {
  text-align: center;
}

.postForm label, .postForm input, button {
  display: inline-block;
  width: 50%;
  color: black;
}

.postForm input::placeholder {
  color: grey;
}

.postForm label {
  padding: 0.5em;
}

.fileInput {
  text-align: center;
}

.postDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.postDetails__img {
  margin-left: none;
  padding-left: none;
  max-width: 50%;
  object-fit: cover;
}

.globalInfo, .extraInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bioInfo {
  margin-top: 100px;
}

.profile {
  padding: -0.05em;
}

.bio {
  padding-top: 1em;
  max-width: 465px;
}

.userPic {
  margin: 100px 70px 30px 0;
  background-color: yellow;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.extraInfo section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 70px;
  width: 665px;
}

.education li {
  margin-left: 1.5em;
}

.extraInfo h2 {
  margin-bottom: 0.8em;
}

.extraInfo img {
  max-width: 1.5em;
  margin: 0.3em;
}

/*# sourceMappingURL=app.css.map */
