.post {
    font-family: Helvetica, sans-serif;
    border: 4px solid #E8EAEC;
    padding: 10px;
    width: 300px;
  }
  
  .post__comments__form {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  
  .btn {
    background-color: #0500FF;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 12px;
  }