@use "./_colors.scss";

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction:row;
}

.IMDMediaSignIn{
    height: 100%;
    width:50%;
    background-color: colors.$offWhite;
}

.formFilling{
    height: 100%;
    width:50%;
    background-color: colors.$offBlack;
}

.fillingImage{
    width:30%;
}