@use "./../_colors.scss";

.formbtn{
    color: colors.$primary;
    background-color: colors.$offWhite;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 0.7em;
    margin: 1.5em 0em 0.1em 0em;
    font-weight:bold;
}