@use "./../_colors.scss";
@use "./../fonts";

h1{
    color: colors.$offBlack;
    font-family: fonts.$jakartaSans;
    font-weight: bold;
    font-size:1.8em;
}

p{
    font-family: fonts.$jakartaSans;
    color: colors.$offBlack;
    font-weight: lighter;
    font-size:1em;
}
.form h1{
    color: colors.$offWhite;
}

.form p{
    color: colors.$offWhite;
}

.extraP{
    font-size: 0.8em;
}

.extraP a{
    color: colors.$offWhite;
}

.extraP form{
    align-self: center;
}

.extraP--password{
    margin-top: -0.05em;
}
