@use "./../_colors.scss";
@use "./../fonts";

//https://anobjectisa.com/?p=335
//https://silvawebdesigns.com/create-responsive-pinterest-style-layout-css/
.feed{
    margin: 0; 
    padding: 0;
    padding-top: 20px;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    column-count: 4;
    column-fill:initial;
}

.post{
    max-width: 100%;
    background-color: colors.$background;
    margin:  20px 0px;
    border-radius: 4px;
    -webkit-column-break-inside: avoid;
}

.post img{
    border-radius: 4px;
    width: 100%;
}

.post h3{
    font-family: fonts.$jakartaSans;
    color: colors.$offBlack;
    font-weight: bolder;
    font-size:1em;
    padding-left: 0.8em;;
}

.post a{
    font-family: fonts.$jakartaSans;
    text-decoration: none;
}

.postUsername{
    padding-left: 0.8em;
    color: colors.$offBlack;
    opacity: 70%;
    font-weight: bolder;
    font-size:1em;
}

.text__tags{
    background-color: colors.$input;
    border-radius: 2px;
    color: rgba(128, 128, 128, 0.666);
    padding-left:0px;
    padding: 0.1em 0.4em;
    margin: 0.1em;
}

.pageCounter{
    color: colors.$offBlack;
    text-align: center;
    bottom: 1em;
    padding: 10px;
    right: 50%;
}

.fileInput {
    text-align: center;
}

.details{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.details__imgSRC{
    margin-left: none;
    padding-left: none;
    max-width: 80%;
    border-radius: 6px;
}

.details__img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.details__details{
    max-width: 70%;
}

.details__text{
    font-family: fonts.$jakartaSans, sans-serif;
    font-weight:500;
    font-size: 1em;
    color: colors.$offBlack;
    text-decoration: none;;
}

.details__text__title{
    padding-top: 15px;
    font-size: 2em;
    font-weight:800;
}

.details__text--account{
    font-size: 0.9em;
    font-weight: 700;
    padding-top: 20px;
}

.details__text__subtitle{
    font-weight: 900;
    font-size: 0.9em;
}

.details__text__subtitle--description{
    padding: 40px 0 20px;
}

.details__text--description{
    font-weight: 60550;
    font-size: 0.75em;
}

.details__text--tags{
    color: rgba(101, 100, 100, 0.666);
    margin: 30px 5px;
    margin-top: 500px;
}

.details__drop{
    position: relative;
    display: inline-block;
}

.details__drop:hover .dropdownContent{
    display: block;
    position: absolute;
    right: 0;
    padding: 15px;
    border: 10px;
    border-color: colors.$primary;
    border-radius: 3px;
    background-color: colors.$input;
    min-width: 10em;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.details__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.details__dropbtn{
    width: 5px;
}

.details__dropdownContent{
    background-color: black;
}

.errorPostNotFound{
    align-self: center;
    background-color: colors.$danger;
    padding: 0.7em;
    border-radius: 3px;
    font-size: 0.9em;
    width: 90%;
}

.centerError{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
}



